@{
    ViewBag.Title = "About";
}
<h2>Завдання</h2>
<h3>
    На сайті новин всі новини розташовуються за певними
    рубриками. Для новин формується набір тегів, за якими
    зручно шукати новини зазначеної тематики. Новини можуть
    вносити на сайт лише зареєстровані автори. Можливо
    передивлятися новини за рубрикою, тематикою, певного
    автора та за конкретний період
</h3>
<p>
    <b>Функціональні вимоги:</b> супровід сайту новин та
    забезпечення користування ним.
</p>

